.jumbotron {
  background-image: url("http://25.media.tumblr.com/tumblr_m26o9b4WAA1qh6z8jo1_500.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  color: goldenrod
}

.jumbotron > h1 {
  font-family:'Tangerine', cursive;
  color: goldenrod
}

#newburger {
  border-radius: 5px;
}

#color-override {
  color:maroon;
}

#left{
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton, #trashbutton {
  float: right;
}

#right {
  background-color: #f0ad4e;
  color: white;
  text-align: center;
  font-size: 1.2em;
}